.speedDial {
  position: fixed;
  right: 1vmax;
  top: 1vmax;
}

.speedDialIcon {
  width: 100px;
  height: 50px;
  border-radius: 50%;
}

.MuiDrawer-paper {
  background: linear-gradient(to bottom, rgb(242, 251, 255), #c06e6e) !important;
}

@media screen and (max-width: 600px) {
  .speedDial {
    position: fixed;
    right: 1vmax;
    top: 2.5vmax;
    width: 45px;
    height: 45px;
  }

  .speedDialIcon {
    width: 56px;
    height: 45px;
    border-radius: 100%;
  }
}

@media (min-width: 600px) {
  .MuiToolbar-gutters {
    padding-right: 15px !important;
  }
}
